<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>嘉宾列表</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
    <body>
        <h2>中餐厅嘉宾列表</h2>
        <table>
            <thead>
                <tr>
                    <td>角色</td>
                    <td>名字</td>
                </tr>
            </thead>
            <tbody>
                <!--详细名称-->
                <tr th:each="student:${studentList}">
                    <td th:text="${student.sid}">sid</td>
                    <td th:text="${student.sname}">sname</td>
                    <td th:text="${student.ssex}">ssex</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>